.help_container-cards {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2%;
  }
  
  .help_container-cards .card {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
    overflow: hidden;
    transition: transform 0.3s;
    padding-bottom: 2rem;
  }
  
  .help_container-cards .card:hover {
    transform: scale(1.05);
  }
  
  .help_container-cards .card-img-top {
    width: 100%;
    height: auto;
    display: block;
    transition: 0.3s ease-in-out;
    position: relative;
  }
  
  .card-img-wrapper {
    position: relative;
  }
  
  .help_container-cards .card-body {
    padding: 20px;
  }
  
  .help-desc {
    font-size: 16px;
    color: var(--tp-text-body);
    font-weight: 500;
    line-height: 30px;
  }
  
  .help_container-cards .link-text h5 {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    color: #1e3737;
    text-decoration: none;
    line-height: 1.4;
    padding-bottom: 6px;
    transition: 0.3s;
    font-weight: 600;
  }
  
  .help_container-cards .link-text:hover {
    color: var(--tp-common-orange);
  }
  
  .tp-donate__thumb-shape {
    position: absolute;
    bottom: 8px;
    left: 0px;
    z-index: 1;
  }
  
  .tp-donate__thumb-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
  }
  
  .help_container-cards .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: perspective(370px) rotateY(90deg) translate(100px, 0);
    transition: all 0.5s ease-in-out;
  }
  
  .help_container-cards .card-img-wrapper:hover .overlay {
    opacity: 1;
    visibility: visible;
    transform: perspective(370px) rotateY(0deg) translate(0, 0);
    height: 100%;
  }
  
  .help_container-cards .progress {
    height: 9px;
    background-color: #f2f7f7;
    border-radius: 0;
    margin-bottom: 10px;
  }
  
  .help_container-cards .progress-bar {
    background-color: var(--main-color);
    visibility: visible;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-name: slideInLeft;
  }
  
  .raised-text {
    font-size: 14px;
    font-weight: 400;
    color: var(--tp-text-body);
  }
  
  .raised-count,
  .percent {
    font-size: 14px;
    font-weight: 400;
    color: var(--tp-theme-1);
  }
  
  .help-donate-btn {
    display: inline-block;
    background-color: var(--tp-grey-1);
    color: var(--tp-theme-2);
    height: 58px;
    line-height: 55px;
    padding: 0 51px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
    z-index: 1;
  }
  
  .help-donate-btn::after {
    position: absolute;
    content: "";
    background-color: var(--tp-common-orange);
    width: 100%;
    height: 0%;
    left: 50%;
    top: 50%;
    border-radius: 0px;
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: -1;
    transition: all 500ms ease;
  }
  