.blog-section-container .text-overlay {
    position: absolute;
    bottom:0px;
    left: 0px;
    color: white;
    pointer-events: none;
    background-color: rgba(54, 20, 85, 0.3);
    border: none;
    width:100%;
    
    padding:10px;
  }
  .blog-section-container h4{
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    transition: 0.3s;
    display: inline-block;
    margin-right: 66px;
  }
  .blog-section-container span{
    font-weight: 600;
      font-size: 14px;
      color: #d7e3e3;
  
      display: block;
  }
  .blog-section-container Link{
    text-decoration: none;
  }
  .link-decoration-none{
    color:#fff;
  }