.our-poorex-container-area{
    padding-top: 7%;
    padding-bottom: 4%;
}
  .our-poorex-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.our-poorex-container2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap:5rem;
}
.sub-img {
    position: absolute;
    right: -77px;
    bottom: -85px;
}

.op-border {
    position: absolute;
    top: 60px;
    right: -42px;
    height: 355px;
    width: 290px;
    border: 4px solid var(--tp-common-orange);
    z-index: -1;
}

.ap_subtitle {
    font-size: 14px;
    color: var(--tp-common-orange);
    font-family: var(--tp-ff-heading);
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    margin-bottom: 17px;
}

.ap_subtitle::before {
    content: "";
    height: 2px;
    width: 10px;
    background-color: var(--main-color);
    display: inline-block;
    transform: translateY(-5px);
    margin-right: 10px;
}
.call-us{
    display: block;
    font-size: 16px;
    margin-bottom: 7px;

}
.telephone{
    display: block;
    font-weight: 800;
    font-size: 20px;
    color: var(--tp-theme-1);
}
.telephone a{
    color: inherit;
}
.abouimg1, .abouimg2{
    width: 500px;
    float: center;
}
@media (max-width: 767px) {
    .our-poorex-container {
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;
    }
    .our-poorex-container2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap:2rem;
    }

    .left-side,
    .right-side {
        width: 100%;
        padding-left: 0%;
        padding-right: 0%;
    }

    .op-border {
        position: static;
        height: auto;
        width: 100%;
        border: none;
    }

    .sub-img {
        position: static;
        margin-top: 2rem;
        right: 0;
        bottom: 0;
    }
    .abouimg1, .abouimg2{
        width: 340px;
        float: center;
    }
}
.brand-area-container{
    padding: 60px 20px 70px;
    border-top: 1px solid #00000024;
}
.brand-area img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }