.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-left: 2%;
    padding-right: 2%;
  }
  .gallery-image-container {
    position: relative;
    display: block;
   
  }
  .gallery-image-container img {
    display: block; 
    width: 100%;
    
  }
 
  .gallery-image-container:hover .gallery-overlay {
    opacity: 1;
  }
  @media (max-width: 1074px) {
    .gallery {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 767px) {
    .gallery {
      grid-template-columns: repeat(1, 1fr);
    }
  }